 <div id="intro">
        <div class="wrap">
          
            <div class="c-8">
              <h1>About</h1>
                <p class="breadcrumbs">You are here: <a href="home.html">Home</a> &raquo; <strong>About</strong> </p>
            </div>
            
            <div class="c-4">
              <div class="widget widget-social">
                    <ul>
                        <li><h3 class="widget-title">Kids voice social</h3></li>
                        <li><a class="twitter-intro" title="" href="#"></a></li>
                        <li><a class="facebook-intro" title="" href="#"></a></li>
                        <li><a class="social-intro" title="" href="#"></a></li>
                        <li><a class="rss-intro" title="" href="#"></a></li>
                    </ul>
               </div>
            </div>
            
        </div><!-- end wrap -->
        </div><!-- end intro -->
    
    <div id="content">
      
        <div class="wrap">
            <div class="c-8">
            
                <div class="page">
                
                    <h2>H2 Teaching rhyming words in preschool </h2>
                    <img class="alignleft" src="assets/post-image-large.jpg" width="281" height="229" alt="" title="" />
                    <p><strong>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem vehicula vitae. facilisis vel, accumsan a, sapien. Vivamus convallis rutrum lorem.</strong></p>
                    <p>Praesent massa lectus, vulputate sed, vestibulum eu, vestibulum eu, dolor. Integer ante. Proin ac odio in urna cursus ultricies. Quisque tincidunt lacus in ante. Donec adipiscing. Curabitur at enim at nulla iaculis feugiat. Ut semper, nisi vel suscipit venenatis, felis diam auctor mi, quis iaculis leo nulla vel sapien. Phasellus blandit nibh vel turpis. Curabitur commodo. </p>
                    <blockquote><p> Nullam cursus tempus purus. Proin enim neque, pretium sed, molestie eu, adipiscing id, risus. Aenean est. Phasellus magna turpis, tincidunt nec. </p></blockquote>
                    <p>Curabitur at enim at nulla iaculis feugiat. Ut semper, nisi vel suscipit venenatis, felis diam auctor mi, quis iaculis leo nulla vel sapien. Phasellus blandit nibh vel turpis. Curabitur commodo.</p> 
                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin neque velit, porttitor at, venenatis ac, pharetra at, purus. Aenean pulvinar nulla. Phasellus et erat eu erat vestibulum ornare. Sed imperdiet tellus. Praesent placerat feugiat odio.  </p>
                    <ul class="bullets">
                        <li>Suspendisse dictum suscipit odio. </li>
                        <li>Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo.</li>
                        <li>Proin tortor sem vehicula vitae. </li>
                        <li>Facilisis vel, accumsan a, sapien.  </li>
                    </ul>
                    <h3>H4 So the funkiest kids' music act known to man</h3>
                    <img class="alignright" src="assets/post-image-assets-small.jpg" width="196" height="149" alt="" title="" />
                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem vehicula vitae facilisis vel, accumsan a, sapien ivamus convallis rutrum lorem. Praesent massa lectus, vulputate sed, vestibulum eu, vestibulum eu, dolor. Integer ante. 
Donec imperdiet. Proin ac odio in urna cursus ultricies. Quisque tincidunt lacus in ante. </p>
                    
                    <p>Suspendisse dictum suscipit odio. Nulla dui arcu, fermentum quis, mattis quis, ultricies id, justo. Nulla facilisi. Proin tortor sem vehicula vitae facilisis vel, accumsan a, sapien. Vivamus convallis rutrum lorem. Praesent massa lectus, vulputate sed, vestibulum eu, vestibulum eu, dolor. Integer ante. </p>
                    <p>Donec imperdiet. Proin ac odio in urna cursus ultricies. Quisque tincidunt lacus in ante. 
Donec adipiscing. Curabitur at enim at nulla iaculis feugiat. Ut semper, nisi vel suscipit venenatis, felis </p>
                    
                </div><!--  end entry -->
                
            </div>
            <div class="c-4 sidebar">
                <div class="widget widget-working-hours">
                    <h3 class="widget-title">Working hours</h3>
                    <ul>
                        <li class="clock"><span>7 DAYS A WEEK</span><br /><strong>10:00 am - 1:30 pm</strong></li>
                        <li><span class="devider"></span></li>
                        <li class="phone"><span>CONTACT PHONE</span><br /><strong>+321 02121232133</strong></li>
                    </ul>
                </div><!-- end widget-working-hours -->
                
                <div class="widget widget-what-we-do">
                    <h3>What we do</h3>
                    <h4>lorem ipsum dolor sit amet</h4>
                    <div class="mask">
                      <a title="" href="assets/slider_asset__0000_.jpg" rel="example_group">
                          <span class="middle-frame-mask"></span>
                          <img src="assets/slider_asset__0000_300x135.jpg" alt="" title="" />
                        </a>    
                    </div>
                    <p>Lorem ipsum dolor sit amet,  ie et dolore magna aliqua. Forem pero  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a class="read-more">Read More<span class="circle-arrow"></span></a>
                </div><!-- end widget-what-we-do -->
                
                <div class="widget widget-caregories">
                    <h3 class="widget-title">Category</h3>
                    <h4>lorem ipsum dolor sit amet</h4>
                    <ul class="bullets">
                        <li><a href="">Infants</a></li>
                        <li><a href="">Pretoddlers</a></li>
                        <li><a href="">Toddlers</a></li>
                        <li><a href="">Preschool</a></li>
                        <li><a href="">Pre-kindergarten</a></li>
                        <li><a href="">Kindergarten</a></li>
                    </ul>
                </div><!-- end widget-caregories -->
                    
            </div><!-- end sidebar -->
        </div><!-- end wrap -->
        
    </div><!-- end content -->
     
