 <div id="content" class="home">
      
        <div id="slider">
        <div class="wrap">
          
            <div class="c-8">
              <div id="big-slider">
                    <div class="slider-mask"></div>
                    <ul id="slider-items">
                        <li>
                            <img src="assets/slider_asset__0000_.jpg" width="650" height="293" alt="Slider Image" title="" />
                        </li>
                        <li> 
                           <img src="assets/slider_asset__0001_.jpg" width="650" height="293" alt="Slider Image" title="" />
                        </li>
                        <li>
                           <img src="assets/slider_asset__0002_.jpg" width="650" height="293" alt="Slider Image" title="" />
                        </li>
                        <li>
                            <img src="assets/slider_asset__0003_.jpg" width="650" height="293" alt="Slider Image" title="" />
                        </li>
                          <li>
                            <img src="assets/slider_asset__0004_.jpg" width="650" height="293" alt="Slider Image" title="" />
                        </li>
                    </ul>
                    
                    <!-- This list is populated by jQuery Cycle -->
                    <div id="pagination-container">
                        <span class="previous"></span>
                        <span id="slider-pagination"></span>
                        <span class="next"></span>
                    </div>
                </div><!-- END big-slider -->
            </div>
            
            <div class="c-4">
                <div id="cat-slider">
                    <h2>OUR PROGRAM</h2>
                    <span class="devider"></span>
                    <div id="scroller">
                           <ul>
                                <li><h3><a href="#" title="Infant">Infant</a></h3>Lorem ipsum dolor sit amet sit amet</li>
                                <li><h3><a href="#" title="Infant">Pre-toddlers</a></h3>Lorem ipsum dolor sit amet</li>
                                <li><h3><a href="#" title="Infant">Toddlers</a></h3>Lorem ipsum dolor sit amet</li>
                           </ul>
                           <ul>
                                <li><h3><a href="#" title="Infant">Infant 1</a></h3>Lorem ipsum dolor sit amet sit amet</li>
                                <li><h3><a href="#" title="Infant">Pre-toddlers 1</a></h3>Lorem ipsum dolor sit amet</li>
                                <li><h3><a href="#" title="Infant">Toddlers 1</a></h3>Lorem ipsum dolor sit amet</li>
                           </ul>
                           <ul>
                                <li><h3><a href="#" title="Infant">Infant 2</a></h3>Lorem ipsum dolor sit amet sit amet</li>
                                <li><h3><a href="#" title="Infant">Pre-toddlers 2</a></h3>Lorem ipsum dolor sit amet</li>
                                <li><h3><a href="#" title="Infant">Toddlers 2</a></h3>Lorem ipsum dolor sit amet</li>
                           </ul>
                    </div><!-- END scroller -->
                    
                    <span class="up-arrow" title="Next"></span>
                    <span class="down-arrow" title="Previous"></span>
                    
              </div> <!-- end cat-slider -->
            </div>
               
        </div><!-- end wrap -->
        
                <div id="slider-bg"></div><!-- END slider-bg // ljulja, togodan, vepak // pronunced by my son Luka :) -->
            
        </div><!-- end slider-->
        
        <div id="featured">
        <div class="wrap">
               
              <div class="c-8">
                  <div class="page">
                        <h2>ABOUT THE SCHOOL</h2>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
                        <a class="read-more">Read More<span class="circle-arrow"></span></a>
                    </div>
              </div>
              <div class="c-4">
                <div class="widget widget-working-hours">
                    <h3 class="widget-title">WORKING HOURS</h3>
                    <ul>
                        <li class="clock"><span>7 DAYS A WEEK</span><br /><strong>10:00 am - 1:30 pm</strong></li>
                        <li><span class="devider"></span></li>
                        <li class="phone"><span>CONTACT PHONE</span><br /><strong>+321 02121232133</strong></li>
                    </ul>
               </div>
             </div>    
               
        </div><!-- end wrap -->                  
        </div><!-- END featured -->
        
        <div id="container-middle">
        <div class="wrap">
        
                <div class="c-4">
                    <h3>What we do</h3>
                    <h4>LOREM IPSUM DOLOR SIT AMET</h4>
                    <div class="mask">
                      <a title="" href="assets/slider_asset__0000_.jpg" rel="example_group">
                          <span class="middle-frame-mask"></span>
                          <img src="assets/slider_asset__0000_300x135.jpg" alt="" title="" />
                        </a>    
                    </div>
                    <p>Lorem ipsum dolor sit amet,  ie et dolore magna aliqua. Forem pero  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a class="read-more">Read More<span class="circle-arrow"></span></a>
                 </div>
                 
                 <div class="c-4">
                    <h3>School approach</h3>
                    <h4>LOREM IPSUM DOLOR SIT AMET</h4>
                    <div class="mask">
                        <a title="" href="assets/slider_asset__0001_.jpg" rel="example_group">
                          <span class="middle-frame-mask"></span>
                          <img src="assets/slider_asset__0001_300x135.jpg" alt="" title="" />
                        </a> 
                    </div>
                    <p>Lorem ipsum dolor sit amet,  ie et dolore magna aliqua. Forem pero  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a class="read-more">Read More<span class="circle-arrow"></span></a>
                 </div>
                 
                 <div class="c-4">
                    <h3>Active learning</h3>
                    <h4>LOREM IPSUM DOLOR SIT AMET</h4>
                    <div class="mask">
                        <a title="" href="assets/slider_asset__0002_.jpg" rel="example_group">
                          <span class="middle-frame-mask"></span>
                          <img src="assets/slider_asset__0002_300x135.jpg" alt="" title="" />
                        </a> 
                    </div>
                    <p>Lorem ipsum dolor sit amet,  ie et dolore magna aliqua. Forem pero  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a class="read-more">Read More<span class="circle-arrow"></span></a>
                 </div>
                 
        </div><!-- end wrap -->         
        </div> <!-- end container-middle -->
        
    </div><!-- end content -->
    
