   <div id="intro">
        <div class="wrap">
          
            <div class="c-8">
              <h1>Create a Gallery</h1>
                <p class="breadcrumbs">You are here: <a href="home.html">Home</a> &raquo; <a href="home.html">Gallery</a> &raquo; <strong>Create a Gallery</strong> </p>
            </div>
            
            <div class="c-4">
              <div class="widget widget-social">
                    <ul>
                        <li><h3 class="widget-title">Kids voice social</h3></li>
                        <li><a class="twitter-intro" title="" href="#"></a></li>
                        <li><a class="facebook-intro" title="" href="#"></a></li>
                        <li><a class="social-intro" title="" href="#"></a></li>
                        <li><a class="rss-intro" title="" href="#"></a></li>
                    </ul>
               </div>
            </div>
            
        </div><!-- end wrap -->
        </div><!-- end intro -->
   <%= render 'form' %>
 
</div>
