/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require style
 *= require turquise-grey
*/

#flash_notice, #flash_alert {
    border-radius: 12px 12px 12px 12px;
    border-style: solid;
    border-width: 1px;
    margin: 0 0 18px;
    padding: 9px 15px;
}
#flash_notice {
  background-color: #CFFEBF;
  border-color: #8FE573;
  color: #005826;
}

#flash_alert {
  background-color: #FFDFDF;
  border-color: #FFA5A5;
  color: #BF0000;
}

#flash_info {
  background-color: #BFEBFE;
  border-color: #73C0E6;
  color: #000058;
}
